.signup__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 360px;

  &__title {
    color: var(--color-text-secondary);
    margin-bottom: 16px;
  }

  &__info {
    font-size: 16px;
    color: var(--color-text-primary);
    margin-bottom: 25px;
  }

  &__form {
    width: 100%;
  }

  &__button {
    margin-bottom: 8px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .signup {
    text-align: center;
    width: 100%;
    padding: 32px;

    &__form {
      width: 100%;
    }
  }
}
