@import "../../../../styles/mixins/search";

.chat-list {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 380px;
  height: 100%;
  background: var(--color-background-app);
  border-right: 1px solid var(--color-border-secondary);
  display: flex;
  flex-direction: column;

  &__icon {
    width: 36px;
    height: 36px;
    margin-top: 13px;
    margin-right: 10px;
    flex-shrink: 0;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &.setting {
      margin-left: 14px;
      background: url("../../../../assets/images/i_setting.svg") no-repeat;

      &:hover {
        background: url("../../../../assets/images/i_setting-hover.svg") no-repeat;
      }
    }

    &.new-chat {
      background: url("../../../../assets/images/i_new-chat.svg") no-repeat;

      &:hover {
        background: url("../../../../assets/images/i_new-chat-hover.svg") no-repeat;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__search {
    @include search;
  }

  &__available-chats {
    flex-grow: 1;
    overflow: auto;
  }
}

@media (max-width: 820px) {
  .chat-list {
    width: 100%;
  }
}
