@import '../../../../../styles/mixins/backdrop';
@import '../../../../../styles/mixins/modal';

.new-chat-modal-wrapper {
  @include modal-wrapper;
}

.new-chat-modal {
 @include modal;

  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__header {
    font-size: 26px;
    margin-bottom: 12px;
    color: var(--color-text-secondary);
    text-align: center;
  }

  &__label {
    font-size: 12px;
    color: var(--color-text-primary);
    align-self: flex-start;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-border-secondary);
    background: transparent;
    color: var(--color-text-secondary);
    margin-bottom: 36px;
    font-size: 16px;

    &:focus {
      outline: none;
      box-shadow: var(--shadow-primary);
    }
  }
}

.modal-backdrop {
  @include backdrop;
}
