@import '../../../../styles/mixins/modal';
@import '../../../../styles/mixins/backdrop';
@import '../../../../styles/mixins/avatar';
@import '../../../../styles/mixins/close-modal';

.change-data-modal-wrapper {
  @include modal-wrapper;

  &__backdrop {
    @include backdrop;
  }
}

.change-data-modal {
  @include modal;

  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 24px 32px;

  &__close-modal-icon {
    @include close-modal;

    background: url("../../../../assets/images/i_close.svg") round;

    &:hover {
      background: url("../../../../assets/images/i_close-hover.svg") round;
    }
  }

  &__header {
    text-align: center;
    color: var(--color-text-secondary);
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__form {
    & > div:last-child {
      margin-top: 20px;
    }
  }

  &__input {
    background: var(--color-background-modal);
  }

  &__button {
    width: 100%;
    margin-bottom: 8px;
  }
}

@media (max-width: 500px) {
  .change-data-modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: var(--color-background-app);

    &__header {
      margin-bottom: 40px;
    }

    &__input {
      background: var(--color-background-app);
    }
  }
}
