@mixin avatar {
	border-radius: 50px;
	background: #c49dfa;
	margin-right: 10px;
	overflow: hidden;
	align-self: flex-end;
	flex-shrink: 0;

	& > img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		max-height: inherit;
	}
}
